/**********
**FOOTER**
***********/
.footer {
  background-color: $color-primary;
  color: $color-white;
  padding: 1rem 0;
  .box-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    
  }
  .logo-footer {
    img {

      max-width: 10rem;
    }
  }

}




