/**********
**GLOBALS**
***********/

html {
  font-size: $font-size;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family !important;
  // background-color: $color-primary;
}

* {
  box-sizing: border-box !important;
}

.container {
  max-width: 1200px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.3rem;
  font-weight: bold;
  // color: $color-white;
}

h3 {
  font-size: 1.7rem;
  font-weight: bold;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  // line-height: 1.5;
}

li {
  list-style: none;
  font-size: 1.6rem;
}

// bootstrap row
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

input {
  font-size: 1.6rem !important;
}

input::placeholder {
  font-size: 1.4rem !important;
}

.ullist {
  padding-left: 0.5rem;
}

// .bg-inverse {
//   background-color: black;
// }
// %container {
//   max-width: 1140px;
//   margin: auto;
//   @media (max-width: 425px) {
//       & {
//           padding-left: 0 !important;
//           padding-right: 0 !important;
//       }
//   }
// }
// .container {
//   @extend %container;
// }
// .row {
//   margin-left: 0 !important;
//   margin-right: 0 !important;
// }