/**********
**HEADER**
***********/
header {
  .logo {
    max-width: 8rem;
    padding: .5rem 0;
  }
  .menu {
    .campus {
      border-radius: 10px;
      border: 1px solid $color-secondary-light;
      &:hover {
        color: $color-white !important;
        background-color: $color-secondary-light;
      }
      @media (max-width: 768px) {
        border: none;
        span {
          border: 1px solid $color-secondary-light;
          border-radius: 5px;
          padding: .3rem 0;
        }
      }
    }
    a {
      font-size: 1.6rem;
      // font-family: open-sans;
      font-weight: 600;
      color: $color-primary !important;
      margin: 0 1rem;
    }
  }

  .navbar-toggler {
    background-color: rgb(128, 107, 107);
    
  }
}