// slider swiper
section.swiper-container {
  .swiper-slide {
    // background-image: url('../dist/images/slide_1.jpg');
    height: 40rem;
    background-size: cover;
    object-fit: cover;
    background-position: center center;
    text-align: center;
    color: $color-white;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

// beneficios
.beneficios {
  padding: 1.6rem 0;
  // background-color: $color-grey;
  .box-icon-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-text {
      color: $color-black;
      h4 {
        font-size: 2rem !important;
      }
    }
    .icon-lef {
      color: $color-secondary-light;
      margin-right: 0.5rem;
    }
    .fa-laptop {
      margin-bottom: 0.5rem;
    }
    .fas {
      font-size: 4rem;
    }
    @media (max-width: 767px) {
      justify-content: center;
      padding-bottom: 1.8rem;
    }
  }
}

// list de cursos
.cursos {
  background-color: $color-grey;
  .box-titulo {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    span {
      font-size: 1.6rem;
      padding-left: 0.4rem;
      // display: inline-block;
    }
    @media (max-width: 750px) {
      display: block;
      h2 {
        display: inline-block;
      }
    }
  }
  // .colxd {
  //   margin-left: 10px !important;
  //   margin-right: 10px !important;
  // }
  .box-curso {
    // padding-top: 2rem;
    background-color: $color-white !important;
    position: relative;
    box-shadow: 0 1px 6px rgba(31, 31, 31, 0.12), 0 1px 4px rgba(31, 31, 31, 0.12);
    min-height: 420px;
    margin-bottom: 1.8rem;
    border-radius: 4px;
    img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .prom {
      position: absolute;
      right: 0.6rem;
      top: 0.7rem;
      background-color: $color-primary-light;
      color: $color-white;
      padding: 2px 4px;
      font-size: 1.4rem;
      border-radius: 4px;
    }
    .prog {
      position: absolute;
      left: 0.6rem;
      top: 0.7rem;
      background-color: #0979cc;
      color: #ffffff;
      padding: 2px 4px;
      font-size: 1.4rem;
      border-radius: 4px;
    }
    .box-info {
      padding: 0.8rem 0.8rem;
      .titulo {
        // padding: .8rem 0;
        min-height: 60px;
        a {
          color: $color-primary;
          font-size: 2rem;
          line-height: 1.2;
          & {
            padding: 1rem 0;
          }
        }
      }
      .detalles {
        padding: 0.8rem 0;
      }
      .precio {
        p:first-child {
          margin-bottom: 0;
        }
        .descuento {
          background-color: $color-secondary-light;
          color: $color-white;
          padding: 0.3rem 0.3rem;
          border-radius: 3px;
          font-size: 1.3rem;
        }
        .precio-actual {
          font-weight: bold;
          color: $color-secondary-light;
          font-size: 1.9rem;
        }
        .precio-regular {
          font-size: 1.4rem;
          text-decoration: line-through;
          padding-left: 0.5rem;
        }
      }
    }
    .box-masinfo {
      text-align: center;
      padding-bottom: 0.7rem;
      .btn-primary {
        background-color: transparent;
        font-size: 1.6rem;
        border: 1px solid $color-secondary-light;
        color: $color-primary;
        &:hover {
          background-color: $color-secondary;
          color: $color-white;
        }
      }
    }
  }
}

// empresas
.empresas {
  .box-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-content: center;
    justify-items: center;
    .logo-cac {
      width: 429px;
      height: 146px;
      @media (max-width: 1024px) {
        width: 330px;
        height: 112px;
      }
      @media (max-width: 768px) {
        width: 230px;
        height: 78px;
      }
      @media (max-width: 667px) {
        width: 300px;
        height: 102px;
      }
    }
    .logo-cesul {
      width: 283px;
      height: 146px;
      @media (max-width: 768px) {
        width: 230px;
        height: 120px;
      }
      @media (max-width: 667px) {
        width: 250px;
        height: 131px;
      }
    }
    .logo-profesores {
      width: 102px;
      height: 146px;
      @media (max-width: 768px) {
        width: 73px;
        height: 105px;
      }
    }
  }
}

// certificados
.box-certidicados {
  background-size: cover;
  // background-position: center center fixed;
  background: center bottom fixed;
  position: relative;
  height: 25rem;
  display: flex;
  align-items: center;
  @media (max-width: 810px) {
    height: 36rem;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  padding: 1.6rem 0;
  .box-items {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 810px) {
      justify-content: flex-start;
      padding: 1rem 0;
    }
    .fas {
      font-size: 6rem;
      color: $color-primary-light;
      padding-right: 0.8rem;
    }
    .title {
      font-size: 4rem;
      font-weight: 900;
      margin-bottom: 0;
      line-height: 1.2;
      color: $color-primary-light;
    }
    .description {
      margin-bottom: 0;
      color: $color-white;
    }
  }
}

// footer
// metodos de pago
.medios-pago {
  padding: 2rem 0;
  border-top: 1px solid #ffffff2b;
  border-bottom: 1px solid #ffffff2b;
  // max-width: 100rem;
  // grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 0.7rem;
  img {
    width: 50px;
    height: 30px;
    padding-right: 0.2rem;
  }
}