// fuentes 
$font-family: 'Roboto', sans-serif;
// font-size 
$font-size: 62.5%;
// colors
$color-primary: #1B4A68;
$color-primary-light: #0979CC;
$color-secondary: #A5262F;
$color-secondary-light: #CC0921;

$color-white: #ffffff;
$color-grey: #f1f1f1;
$color-black: #000000;
